.background {
  background-color:#2F4F4F;
}

.container {
  display:flex;
  align-content:center;
  justify-content:center;
  flex-wrap:wrap;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.column{
  flex-direction: column;
}

.text {
  font-size: calc(14px + (19 - 14) * ((100vw - 300px) / (1600 - 300)));
  color:rgba(0,0,0,0.7);
}

.title {
  color:white;
  font-weight:700;
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.padding {
  padding:0 1.5rem;
}

.padvertical {
  padding-top:2em;
  padding-bottom:2em;
}
