<app-header
  [active]="active">
</app-header>
<div class="background" style="margin-top:2rem;padding-top:7rem;padding-bottom:7rem;">
  <div class="container">
    <div class="title">ROCK CLIMBING</div>
  </div>
</div>
<div class="container" style="padding: 0 2em;padding-top:4em">
  <div class="container">
    <img class="responsive" src="assets/hobbies/climbing1.jpg" alt="climbing1" style="height:calc(180px + (400 - 180) * ((100vw - 300px) / (1600 - 300)))">
  </div>
  <div style="padding:0 4vw;margin-top:1rem;width:25%;min-width:400px">
    <div class="container column" style="padding-top:1rem;">
      <p class="text" style="text-align:justify;padding-top:0.7rem;width:95%">
        In December 2018, a good friend and I went on a rock climbing trip to Red Rocks and
        Joshua Tree National Park. This was probably as close to a dirtbag experience as we were
        gonna get, from camping out at Walmarts to eating micro-waved eggs and cheese and to clearing
        out the waste from the RV. The boulders were really challenging and I didn't manage to send
        the routes that I wanted to, but definitely will be back one day.
      </p>
    </div>
  </div>
</div>
<div class="container" style="padding: 2em 2em;">
  <div style="padding-top:1em">
    <img class="responsive" src="assets/hobbies/climbing2.jpg" alt="climbing2" style="height:calc(180px + (400 - 180) * ((100vw - 300px) / (1600 - 300)))">
  </div>
  <div style="min-width:400px;padding-left:6em;padding-top:1em">
      <img class="responsive" src="assets/hobbies/climbing4.jpg" alt="climbing4" style="height:calc(180px + (400 - 180) * ((100vw - 300px) / (1600 - 300)))">
  </div>
</div>
