<app-header
  [active]="active">
</app-header>
<div class="background" style="margin-top:2rem;padding-top:7rem;padding-bottom:7rem;">
  <div class="container" style="flex-direction:row">
    <div class="banner" style="padding-bottom:3.4vw;padding-right:1vw">
      Portfolio
    </div>
    <span class="line-design"></span>
    <div class="banner" style="padding-top:3.4vw;padding-left:1vw">
      Website
    </div>
  </div>
</div>
<div class="container" style="padding-top:3em">
  <img class="responsive" src="assets/img/webdesign.jpeg" alt="mock-up" style="height:calc(300px + (500 - 300) * ((100vw - 300px) / (1600 - 300)))">
</div>
<div class="container" style="">
  <div style="width:50vw;padding-bottom:3em;padding-top:2em;min-width:400px;">
  <p class="text" style="align-self:center">Skills: Angular & Typescript</p>
    <p class="text" style="text-align:justify;">
      <span style="padding-right:3em"></span>I started building this portfolio website as a way to experiment with and
      learn a new programming language. For this project, I decided on Angular as the framework to work on as I
      had already been using React during my internship. It was also enjoyable to design the layout of the website and play
      around with various CSS features. I also gave myself a challenge of not using third party libraries such as Bootstrap.
      However, since this is just a static website, there are still plenty of Angular
      concepts that I have yet to explore. That could probably come in a subsequent project where more complex features
      are required. We'll see what happens~
    </p>
    </div>
</div>
