<app-header
  [active]="active">
</app-header>
<div class="padding container column" style="text-align:center;margin-top:10em;margin-bottom:4em;">
  <div class="banner">
    "It is our choices that show who we truly are, far more than our abilities"
  </div>
  <!-- <div class="text">
    - Albus Dumbledore
  </div> -->
</div>
<div class="container" style="position:relative;padding-top:8vw;padding-bottom:2vw">
  <span class="name">RYAN MICHAEL TAN</span>
  <div style="width:35%;min-width:400px">
    <img class="responsive" src="assets/bio/profile.png" alt="profile" style="height:calc(250px + (600 - 250) * ((100vw - 300px) / (1600 - 300)));width:auto;">
  </div>
  <div class="text" style="padding-top:5.5em;padding-left:2vw;text-align:justify;width:40%;min-width:400px">
    <span style="padding-right:3rem"></span>I am a senior currently studying at Nanyang Technological University under the Renaissance Engineering
    Programme (REP). My major is in Computer Science with a specific focus towards Artificial Intelligence.
    Outside of academics, I enjoy rock climbing and making covers of songs on the piano.
  </div>
</div>
<div class="container column padding">
  <div style="padding:0 8vw">
    <h4 class="lines"><span style="padding: 10px 20px;font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));font-weight:450">
      Internships</span></h4>
  </div>
  <div class="padding" style="align-self:center;width:50%;min-width:400px">
    <div>
      <img src="assets/bio/circle.png" alt="circle" style="height:1rem;">
      <span class="line-background" style="margin-bottom:0.5em"></span>
      <span class="date" style="margin-bottom:0.5em">AUG 2016</span>
      <div class="content">
        <h4>Nanyang Technological University</h4>
        <p class="text" style="text-align:justify">I enrolled in NTU under the Renaissance Engineering
          Programme(REP). The curriculum for the first year consisted on a variety of engineering courses
          ranging widely from Mechanical to Chemical Engineering. In my second year, I chose to major in
          Computer Science.</p>
      </div>
    </div>
    <div>
      <img src="assets/bio/circle.png" alt="circle" style="height:1rem">
      <span class="line-background" style="margin-bottom:0.5em"></span>
      <span class="date" style="margin-bottom:0.5em">MAY 2018</span>
      <div class="content">
        <h4>SURF</h4>
        <p class="text" style="text-align:justify">My senior launched a startup earlier that year
        which focused on promoting recycling in Singapore through corporate campaigns and household
        campaigns. I decided to join the startup as a Software Engineer Intern and worked on implementing
        features on their website.</p>
      </div>
    </div>
    <div>
      <img src="assets/bio/circle.png" alt="circle" style="height:1rem">
      <span class="line-background" style="margin-bottom:0.5em"></span>
      <span class="date" style="margin-bottom:0.5em">AUG 2018</span>
      <div class="content">
        <h4>University of California, Berkeley</h4>
        <p class="text" style="text-align:justify"> I was extremely fortunate to have the opportunity
        to study on exchange for a year in the US. Studying in an overseas university was incredibly surreal
        and eye opening. The computer science courses here were extremely rigorous and I definitely learnt a lot.</p>
      </div>
    </div>
    <div>
      <img src="assets/bio/circle.png" alt="circle" style="height:1rem">
      <span class="line-background" style="margin-bottom:0.5em"></span>
      <span class="date" style="margin-bottom:0.5em">MAY 2019</span>
      <div class="content">
        <h4>Tribalist</h4>
        <p class="text" style="text-align:justify">I interned as a Software Engineer Intern at Tribalist which
        is located in San Francisco. My role involved pushing new features for their mobile application as well
        as developing tools for customer acquisition.</p>
      </div>
    </div>
  </div>
</div>
