<app-header
  [active]="active">
</app-header>
<div class="background" style="margin-top:2rem;padding-top:7rem;padding-bottom:7rem;">
  <div class="container">
    <img src="assets/img/surf.webp" alt="SURF" style="height:5rem">
  </div>
</div>
<div class="container" style="padding-top:3em">
  <img src="assets/img/surf-sg.jpg" alt="Tribalist Website" style="width:40em">
</div>
<div class="container">
  <div style="width:45%;min-width:400px">
    <p class="padding text" style="text-align:justify">
      In the summer of 2018, I worked at SURF as a Software Engineering Intern. During my stint here,
      I was tasked to work on improving their website's design and user interface.
    </p>
  </div>
</div>
<div class="container" style="padding: 0 2em; padding-bottom:2em">
  <div class="container">
    <img class="responsive" src="assets/img/surf-sg2.jpg" alt="iphone1" style="height:calc(180px + (400 - 180) * ((100vw - 300px) / (1600 - 300)))">
  </div>
  <div style="padding:0 4vw;margin-top:1rem;width:25%;min-width:400px">
    <p class="title">WEB DEVELOPMENT</p>
    <div class="container column" style="padding-top:1rem;">
      <p class="text" style="width:90%">Language: PHP</p>
      <p class="text" style="width:90%">Framework: CodeIgniter</p>
      <p class="text" style="text-align:justify;padding-top:0.7rem;width:95%">
        SURF was a startup launched by my senior and was an initiative to promote recyling in Singapore. Other
        than working on the website, we also went out to potential clients to pitch our ideas on recycling and how it can be
        integrated into their business.
      </p>
    </div>
  </div>
</div>
