<app-header
  [active]="active">
</app-header>
<div class="background" style="margin-top:2rem;padding-top:7rem;padding-bottom:7rem;">
  <div class="container">
    <img src="assets/img/tribalist.png" alt="Tribalist" style="height:calc(40px + (110 - 40) * ((100vw - 300px) / (1600 - 300)));">
  </div>
</div>
<div class="container" style="padding-top:3em">
  <img class="responsive" src="assets/img/website.png" alt="Tribalist Website" style="height:35em">
</div>
<div class="container">
  <div style="width:50%;padding-bottom:1em; min-width:400px">
    <p class="padding text" style="text-align:justify">In the summer of 2019, I worked at Tribalist
      as a Software Engineer. My role involved developing a Twitter Tool as part of their customer acquisition
      strategy. I was also part of a team that worked on implementing new features for their mobile application.
    </p>
  </div>
</div>
<div class="container" style="padding: 0 2em">
  <div class="container" style="border: 6px solid #AAAAAA;">
    <img class="responsive" src="assets/img/iphone1.jpg" alt="iphone1" style="height:25em">
    <img class="responsive" src="assets/img/iphone2.jpg" alt="iphone2" style="height:25em">
  </div>
  <div style="padding:0 4vw;margin-top:1rem;width:25%;min-width:400px">
    <p class="title">APP DEVELOPMENT</p>
    <div class="container column" style="padding-top:1rem;">
      <p class="text" style="width:90%">Skills: React & Redux</p>
      <p class="text" style="text-align:justify;padding-top:0.7rem;width:95%">
        As an intern, I worked on client-side updates such as implementing new features and fixing bugs on their mobile application.
        It was definitely exciting to be working on such a large project and I learnt a lot.
      </p>
    </div>
  </div>
</div>
<div class="container" style="padding-top:3em;padding-bottom:2em">
  <div>
    <img class="responsive" src="assets/img/twitterbot.png" alt="twitter-bot" style="height:25em">
  </div>
  <div style="padding:0 4vw;margin-top:1rem;width:25%;min-width:400px">
    <p class="title">Twitter Tool</p>
    <div class="container column">
      <p class="text" style="padding-top:1rem;">Front-end: React</p>
      <p class="text" style="padding-top:0.7rem;">Back-end: Node.js, Express & MySQL</p>
      <p class="text" style="text-align:justify;width:95%;padding-top:0.7rem;">The twitter tool is able to reply Tweets based off of keywords from the user using the
        Twitter API and is hosted on Heroku. The tool definitely helped to increase the number of users for both the website and mobile app.</p>
    </div>
  </div>
</div>
